<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TheGold Restaurant</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="../assets/images/apple-touch-icon.png">
    <!-- Preload critical resources-->
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&amp;family=Antonio:wght@400;700&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&amp;family=Antonio:wght@400;700&amp;display=swap">
    </noscript>
    <!-- Critical CSS-->
    <link rel="preload" href="../assets/libraries/bootstrap/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="../assets/libraries/bootstrap/css/bootstrap.min.css">
    </noscript>
    <!-- Non-critical CSS-->
    <link rel="preload" href="../assets/libraries/fontawesome/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="../assets/libraries/fontawesome/css/all.min.css">
    </noscript>
    <link rel="preload" href="../assets/libraries/restaurant_icon/flaticon.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="../assets/libraries/restaurant_icon/flaticon.css">
    </noscript>
    <link rel="preload" href="../assets/libraries/aos/aos.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="../assets/libraries/aos/aos.css">
    </noscript>
    <link rel="preload" href="../assets/libraries/swiper/swiper-bundle.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="../assets/libraries/swiper/swiper-bundle.min.css">
    </noscript>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <!-- DNS prefetch for external domains-->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
  </head>
  <body>
    <header class="g-header">
      <div class="g-header__top">
        <div class="container">
          <div class="g-header__grid">
            <div class="g-header__col g-header__col--left">
              <ul class="g-header__link">
                <li><a href="tel:+1090016679">Hotline: (+1) 090-016-679</a></li>
                <li><a href="mailto:thegoldtheme@gmail.com">Email: thegoldtheme@gmail.com</a></li>
              </ul>
            </div>
            <div class="g-header__col g-header__col--right">
              <ul class="g-header__social">
                <li><a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://x.com/" target="_blank" rel="noopener noreferrer" aria-label="twitter"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.pinterest.com/" target="_blank" rel="noopener noreferrer" aria-label="pinterest"><i class="fa-brands fa-pinterest-p"></i></a></li>
                <li><a href="https://www.google.com/" target="_blank" rel="noopener noreferrer" aria-label="google"><i class="fa-brands fa-google"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="instagram"><i class="fa-brands fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="g-header__main">
        <div class="container">
          <div class="g-header__grid">
            <div class="g-header__col g-header__col--left">
              <div class="g-header__logo"><a href="../index.html"><img src="../assets/images/logo.png" alt="logo"></a></div>
            </div>
            <div class="g-header__col g-header__col--right">
              <nav class="g-header__navigation">
                <ul>
                  <li class="g-header__dropdownMenu"><a class="g-header__menu" href="../index.html">HOME</a>
                    <ul class="g-header__menu--dropdown">
                      <li class="g-header__dropdownMenu"><a class="g-header__menu" href="../index.html">Homepage 1</a>
                        <ul class="g-header__menu--dropdown">
                          <li><a class="g-header__menu" href="../homepage-4.html">Homepage 1 - Default</a></li>
                          <li><a class="g-header__menu" href="../homepage-5.html">Homepage 1 - Dark</a></li>
                          <li><a class="g-header__menu" href="../homepage-6.html">Homepage 1 - Box</a></li>
                          <li><a class="g-header__menu" href="../homepage-7.html">Homepage 1 - RTL</a></li>
                        </ul>
                      </li>
                      <li class="g-header__dropdownMenu"><a class="g-header__menu" href="../homepage-2.html">Homepage 2</a>
                        <ul class="g-header__menu--dropdown">
                          <li><a class="g-header__menu" href="../homepage-8.html">Homepage 2 - Default</a></li>
                          <li><a class="g-header__menu" href="../homepage-9.html">Homepage 2 - Dark</a></li>
                          <li><a class="g-header__menu" href="../homepage-10.html">Homepage 2 - Box</a></li>
                          <li><a class="g-header__menu" href="../homepage-11.html">Homepage 2 - RTL</a></li>
                        </ul>
                      </li>
                      <li class="g-header__dropdownMenu"><a class="g-header__menu" href="../homepage-3.html">Homepage 3</a>
                        <ul class="g-header__menu--dropdown">
                          <li><a class="g-header__menu" href="../homepage-12.html">Homepage 3 - Default</a></li>
                          <li><a class="g-header__menu" href="../homepage-13.html">Homepage 3 - Dark</a></li>
                          <li><a class="g-header__menu" href="../homepage-14.html">Homepage 3 - Box</a></li>
                          <li><a class="g-header__menu" href="../homepage-15.html">Homepage 3 - RTL</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a class="g-header__menu" href="../about.html">ABOUT</a></li>
                  <li><a class="g-header__menu" href="../reservation.html">RESERVATION</a></li>
                  <li class="g-header__dropdownMenu"><a class="g-header__menu" href="../menu-1.html">MENU</a>
                    <ul class="g-header__menu--dropdown">
                      <li><a class="g-header__menu" href="../menu-1.html">Menu Layout 1</a></li>
                      <li><a class="g-header__menu" href="../menu-2.html">Menu Layout 2</a></li>
                      <li><a class="g-header__menu" href="../menu-3.html">Menu Layout 3</a></li>
                      <li><a class="g-header__menu" href="../menu-4.html">Menu Layout 4</a></li>
                    </ul>
                  </li>
                  <li class="g-header__dropdownMenu"><a class="g-header__menu" href="../blog.html">BLOG</a>
                    <ul class="g-header__menu--dropdown">
                      <li><a class="g-header__menu" href="../blog.html">Blog Grid</a></li>
                      <li><a class="g-header__menu" href="../blogs/bloglist.html">Blog List</a></li>
                      <li><a class="g-header__menu" href="../blogs/blog-leftsidebar.html">Blog Grid - Left Sidebar</a></li>
                      <li><a class="g-header__menu" href="../blogs/blog-rightsidebar.html">Blog Grid - Right Sidebar</a></li>
                      <li><a class="g-header__menu" href="../blogs/blog-detail.html">Blog Detail</a></li>
                      <li><a class="g-header__menu" href="../blogs/blog-detail-leftsidebar.html">Blog Detail - Left Sidebar</a></li>
                      <li><a class="g-header__menu" href="../blogs/blog-detail-rightsidebar.html">Blog Detail - Right Sidebar</a></li>
                    </ul>
                  </li>
                  <li class="g-header__megaMenu"><a class="g-header__menu" href="#">COMPONENT</a>
                    <div class="g-header__megaMenu--dropdown">
                      <div class="megaMenu-row">
                        <div class="megaMenu-col">
                          <h4 class="g-header__heading">Component 1</h4>
                          <ul>
                            <li><a class="g-header__menu" href="../components/header.html">Header Style</a></li>
                            <li><a class="g-header__menu" href="../components/footer.html">Footer Style</a></li>
                            <li><a class="g-header__menu" href="../components/heading.html">Heading Style</a></li>
                            <li><a class="g-header__menu" href="../components/button.html">Button Style</a></li>
                          </ul>
                        </div>
                        <div class="megaMenu-col">
                          <h4 class="g-header__heading">Component 2</h4>
                          <ul>
                            <li><a class="g-header__menu" href="../components/iconblock.html">Icon Block</a></li>
                            <li><a class="g-header__menu" href="../components/imageblock.html">Image Block</a></li>
                            <li><a class="g-header__menu" href="../components/counterblock.html">Counter Block</a></li>
                            <li><a class="g-header__menu" href="../components/peopleblock.html">People Block</a></li>
                          </ul>
                        </div>
                        <div class="megaMenu-col">
                          <h4 class="g-header__heading">Component 3</h4>
                          <ul>
                            <li><a class="g-header__menu" href="../components/blogblock.html">Blog Block</a></li>
                            <li><a class="g-header__menu" href="../components/menublock.html">Menu Block</a></li>
                            <li><a class="g-header__menu" href="../components/bannerblock.html">Banner Block</a></li>
                            <li><a class="g-header__menu" href="../components/testimonial.html">Testimonial Block</a></li>
                          </ul>
                        </div>
                        <div class="megaMenu-col">
                          <h4 class="g-header__heading">Component 4</h4>
                          <ul>
                            <li><a class="g-header__menu" href="../components/eventblock.html">Event Block</a></li>
                            <li><a class="g-header__menu" href="../components/formblock.html">Form Block</a></li>
                            <li><a class="g-header__menu" href="../components/productblock.html">Product Block</a></li>
                            <li><a class="g-header__menu" href="#">Components...</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="g-header__dropdownMenu"><a class="g-header__menu" href="../products.html">PRODUCTS</a>
                    <ul class="g-header__menu--dropdown">
                      <li><a class="g-header__menu" href="../products.html">PRODUCT GRID</a></li>
                      <li><a class="g-header__menu" href="../products/product-detail.html">PRODUCT DETAIL</a></li>
                      <li><a class="g-header__menu" href="../products/shoppingCart.html">SHOPPING CART</a></li>
                      <li><a class="g-header__menu" href="../products/checkout.html">CHECK OUT</a></li>
                    </ul>
                  </li>
                  <li class="g-header__dropdownMenu"><a class="g-header__menu" href="#">PAGE</a>
                    <ul class="g-header__menu--dropdown">
                      <li><a class="g-header__menu" href="../faq.html">FAQ</a></li>
                      <li><a class="g-header__menu" href="../event.html">EVENT</a></li>
                      <li><a class="g-header__menu" href="../contact.html">CONTACT</a></li>
                      <li><a class="g-header__menu" href="../404.html">Page 404</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <div class="g-header__hamburger-menu">
                <input class="d-none" id="hamburger-menu" type="checkbox">
                <label class="g-header__hamburger-menu__icon" for="hamburger-menu"><span></span></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="g-body g-body--components">
      <div class="container">
        <section>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                            <div class="g-heading text-center g-heading--effectHover g-heading--iconInside">
                              <div class="g-heading__icon g-heading__icon--image"><img src="../assets/images/icon_image/kingcrab-1.png" alt="Footer Layout 1" loading="lazy" decoding="async"></div>
                              <h1 class="g-heading__title" data-name="Footer Layout 1">Footer Layout 1</h1>
                            </div>
            </div>
            <div class="col-12"><img class="shadow" src="../assets/images/component/footer-1-b.jpg" alt="Footer Layout 1" loading="lazy" decoding="async"></div>
          </div>
        </section>
        <section>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                            <div class="g-heading text-center g-heading--effectHover g-heading--iconInside">
                              <div class="g-heading__icon g-heading__icon--image"><img src="../assets/images/icon_image/kingcrab-1.png" alt="Footer Layout 1 Transparent" loading="lazy" decoding="async"></div>
                              <h1 class="g-heading__title" data-name="Footer Layout 1 Transparent">Footer Layout 1 Transparent</h1>
                            </div>
            </div>
            <div class="col-12"><img class="shadow" src="../assets/images/component/footer-1-a.jpg" alt="Footer Layout 1" loading="lazy" decoding="async"></div>
          </div>
        </section>
        <section>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                            <div class="g-heading text-center g-heading--effectHover g-heading--iconInside">
                              <div class="g-heading__icon g-heading__icon--image"><img src="../assets/images/icon_image/kingcrab-1.png" alt="Footer Layout 2" loading="lazy" decoding="async"></div>
                              <h1 class="g-heading__title" data-name="Footer Layout 2">Footer Layout 2</h1>
                            </div>
            </div>
            <div class="col-12"><img class="shadow" src="../assets/images/component/footer-2-b.jpg" alt="Footer Layout 2" loading="lazy" decoding="async"></div>
          </div>
        </section>
        <section>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                            <div class="g-heading text-center g-heading--effectHover g-heading--iconInside">
                              <div class="g-heading__icon g-heading__icon--image"><img src="../assets/images/icon_image/kingcrab-1.png" alt="Footer Layout 2 Transparent" loading="lazy" decoding="async"></div>
                              <h1 class="g-heading__title" data-name="Footer Layout 2 Transparent">Footer Layout 2 Transparent</h1>
                            </div>
            </div>
            <div class="col-12"><img class="shadow" src="../assets/images/component/footer-2-a.jpg" alt="Footer Layout 2" loading="lazy" decoding="async"></div>
          </div>
        </section>
        <section>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                            <div class="g-heading text-center g-heading--effectHover g-heading--iconInside">
                              <div class="g-heading__icon g-heading__icon--image"><img src="../assets/images/icon_image/kingcrab-1.png" alt="Footer Layout 3" loading="lazy" decoding="async"></div>
                              <h1 class="g-heading__title" data-name="Footer Layout 3">Footer Layout 3</h1>
                            </div>
            </div>
            <div class="col-12"><img class="shadow" src="../assets/images/component/footer-3-a.jpg" alt="Footer Layout 3" loading="lazy" decoding="async"></div>
          </div>
        </section>
      </div>
    </div>
    <footer class="g-footer g-footer--effectHover">
      <div class="g-footer__main g-paddingTop--xl g-paddingBottom--xl">
        <div class="container">
          <div class="g-footer__grid--2">
            <div class="g-footer__col--1 g-footer--effectHover__left">
              <div class="g-footer__col">
                <div class="g-footer__heading g-footer__heading--image"><img src="../assets/images/logo.png" alt="Logo"></div>
                <div class="g-footer__content">
                  <div class="g-footer__item">
                    <div class="g-footer__description">
                      <p>The Gold is a powerful, modern and creative PSD template, designed for food, bakery, cafe, pub & restaurant websites. The design is very elegant and modern, and also very easy to customize.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="g-footer__col--2 g-footer--effectHover__right">
              <div class="g-footer__col">
                <h4 class="g-footer__heading">Opening Time</h4>
                <div class="g-footer__content">
                  <div class="g-footer__item">
                    <div class="g-footer__title">
                      <p>lunch service</p>
                    </div>
                    <div class="g-footer__description">
                      <p>friday - sunday: 11am - 1.30pm</p>
                    </div>
                  </div>
                  <div class="g-footer__item">
                    <div class="g-footer__title">
                      <p>dinner service</p>
                    </div>
                    <div class="g-footer__description">
                      <p>Daily: Bookings available 6am - 9.30pm</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="g-footer__col">
                <h4 class="g-footer__heading">our service</h4>
                <div class="g-footer__content">
                  <div class="g-footer__item">
                    <div class="g-footer__link"><a href="../index.html">Social media monitoring</a></div>
                  </div>
                  <div class="g-footer__item">
                    <div class="g-footer__link"><a href="../index.html">Web & App solution</a></div>
                  </div>
                  <div class="g-footer__item">
                    <div class="g-footer__link"><a href="../index.html">Creative process</a></div>
                  </div>
                  <div class="g-footer__item">
                    <div class="g-footer__link"><a href="../index.html">Software Development</a></div>
                  </div>
                </div>
              </div>
              <div class="g-footer__col">
                <h4 class="g-footer__heading">Subscribe</h4>
                <div class="g-footer__content">
                  <div class="g-footer__item">
                    <div class="g-footer__description">
                      <p>Sign up to our newsletter and get all of the latest news and updates.</p>
                    </div>
                  </div>
                  <div class="g-footer__item">
                    <form class="g-footer__form g-subscribe" action="/subscribe" method="POST">
                      <input class="g-footer__form__input" type="email" name="Subscribe" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'" required>
                      <button class="g-footer__form__button g-footer__form__button--icon" type="submit" aria-label="Submit form"><i class="fa-regular fa-paper-plane"></i></button>
                    </form>
                  </div>
                  <div class="g-footer__item">
                    <ul class="g-footer__social">
                      <li><a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="facebook"><i class="fa-brands fa-facebook"></i></a></li>
                      <li><a href="https://x.com/" target="_blank" rel="noopener noreferrer" aria-label="twitter"><i class="fa-brands fa-twitter"></i></a></li>
                      <li><a href="https://www.pinterest.com/" target="_blank" rel="noopener noreferrer" aria-label="pinterest"><i class="fa-brands fa-pinterest-p"></i></a></li>
                      <li><a href="https://www.google.com/" target="_blank" rel="noopener noreferrer" aria-label="google"><i class="fa-brands fa-google"></i></a></li>
                      <li><a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="instagram"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="g-mobile"></div>
  </body>
  <!-- Defer non-critical JavaScript-->
  <script src="../assets/libraries/bootstrap/js/bootstrap.bundle.min.js" defer></script>
  <script src="../assets/libraries/swiper/swiper-bundle.min.js" defer></script>
  <script src="../assets/libraries/aos/aos.js" defer></script>
  <script src="../assets/libraries/gsap/gsap.min.js" defer></script>
  <script src="../assets/libraries/gsap/ScrollTrigger.min.js" defer></script>
  <script src="../assets/js/lazy-loading.js" defer></script>
  <!-- Modular JavaScript files-->
  <script src="../assets/js/animations.js" defer></script>
  <script src="../assets/js/swiper.js" defer></script>
  <script src="../assets/js/pagination.js" defer></script>
  <script src="../assets/js/forms.js" defer></script>
  <script src="../assets/js/product.js" defer></script>
  <script src="../assets/js/countdown.js" defer></script>
  <script src="../assets/js/main.js" defer></script>
  <!-- Service Worker Registration-->
  <script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
        navigator.serviceWorker.register('../assets/js/sw.js')
            .then(registration => {
                //- console.log('SW registered: ', registration);
            })
            .catch(registrationError => {
                //- console.log('SW registration failed: ', registrationError);
            });
        });
    }
  </script>
</html>